.adm-list-default .adm-list-body {
  border-top: none ; 
  border-bottom: none ; 
  background-color: transparent;
}

.adm-list-default .adm-list-body .adm-list-item  {
  padding-right: 12px;
}

.adm-list-default .adm-list-body .adm-list-item-content {
  border: none; /* 移除默认的边框 */
  /* 或者自定义边框样式 */
  border-bottom: 1px solid #7C3AED;
  color: #FFFFFF;
}
.adm-list-default .adm-list-body .last-item-box .adm-list-item-content{
  border: none;
}

.adm-list-default .adm-list-body .button-item-box .adm-list-item-content .adm-list-item-content-main{
  padding-top: 0;
}

.lucky-wheel-box{
  
}

